@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

.message-enter {
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.25s;
}

.message-enter-active {
    opacity: 1;
    transform: translateY(0);
}

.message-leave {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.25s;
}

.message-leave-active {
    opacity: 0;
    transform: translateY(-100%);
}

.title {
    padding-bottom: 1px;
    padding-right: 100px;
    font-size: 75px;
    font-family: 'Source Sans Pro';
    font-weight: 300;
    text-align: center;
    border-bottom: 5px solid #2196f3; 
}